.square{
    width: 80px;
    height: 80px;
    background-color: rgb(95, 207, 222);
    border: 1px solid black;
    cursor: pointer;
    transition: 1s;
}
.s1:hover{
    width: 160px;
    transition: 1.5s;
}
.s2:hover{
transform: translateX(40px) skewX(-45deg);
}
.s3:hover{
    transform: translate(350px) rotate(90deg);
    border-radius: 50%;
    background-color: red;
}
.s4:hover{
    transform: 
    rotateY(360deg) scale(2);
    background-color: yellow;
    transition: 2s;
}
}
}